.cartitems {
  margin: 100px 170px;
}
.cartitems hr {
  height: 3px;
  background: #e2e2e2;
  border: 0;
}
.format {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 75px;
  padding: 20px 0px;
  color: #454545;
  font-size: 18px;
  font-weight: 600;
}
.Icon {
  height: 62px;
}
.removeicon {
  width: 15px;
  margin: 0px 40px;
  cursor: pointer;
}
.quantity {
  width: 64px;
  height: 50px;
  border: 2px solid #ebebeb;
  background: #fff;
}
.cartitems-down {
  display: flex;
  margin: 100px 0px;
}
.total {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 200px;
  gap: 40px;
}
.totalitem {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
}
.total button {
  width: 262px;
  height: 52px;
  outline: none;
  border: none;
  background-color: #ff5a5a;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

@media screen and (max-width: 576px) {
  .cartitems {
    margin: 20px 10px;
  }
  .format {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    font-size: 14px;
  }
  .removeicon {
    margin: 0 10px;
  }
  .quantity {
    width: 50px;
    height: 40px;
  }
  .cartitems-down {
    flex-direction: column;
    margin: 50px 0;
  }
  .total {
    margin-right: 0;
  }
  .total button {
    width: 100%;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .cartitems {
    margin: 40px 20px;
  }
  .format {
    grid-template-columns: 0.7fr 2fr 1fr 1fr 1fr 1fr;
    gap: 40px;
    font-size: 16px;
  }
  .quantity {
    width: 60px;
    height: 45px;
  }
  .cartitems-down {
    margin: 80px 0;
  }
  .total {
    margin-right: 150px;
  }
  .total button {
    width: 250px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .cartitems {
    margin: 60px 30px;
  }
  .format {
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
    gap: 60px;
    font-size: 17px;
  }
  .quantity {
    width: 62px;
    height: 48px;
  }
  .cartitems-down {
    margin: 90px 0;
  }
  .total {
    margin-right: 180px;
  }
  .total button {
    width: 250px;
  }
}
