.hero{
    height: 100vh;
    background: linear-gradient(180deg, white, darkgrey, 60%);
    display: flex;
}

.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    line-height: 1.1;
}

.hero-left h2{
    font-size: 26px;
    font-weight: 600;
    color: black;
}

.hero-left p{
    color: black;
    font-size: 100px;
    font-weight: 600;
}

.hero-hand-icon{
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero-hand-icon img{
    width: 105px;
}

.hero-latest-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    margin-top: 30px;
    background: red;
    color: white;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
}

@media screen and (max-width: 576px) {
    .hero {
        flex-direction: column;
        height: auto;
    }
    .hero-left {
        padding-left: 20px;
        text-align: center;
    }
    .hero-left h2 {
        font-size: 20px;
    }
    .hero-left p {
        font-size: 50px;
    }
    .hero-hand-icon {
        flex-direction: column;
        gap: 10px;
    }
    .hero-hand-icon img {
        width: 80px;
    }
    .hero-latest-button {
        width: 200px;
        height: 50px;
        font-size: 18px;
    }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
    .hero-left {
        padding-left: 30px;
    }
    .hero-left h2 {
        font-size: 22px;
    }
    .hero-left p {
        font-size: 75px;
    }
    .hero-hand-icon img {
        width: 90px;
    }
    .hero-latest-button {
        width: 250px;
        height: 60px;
        font-size: 20px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .hero-left {
        padding-left: 50px;
    }
    .hero-left h2 {
        font-size: 24px;
    }
    .hero-left p {
        font-size: 90px;
    }
    .hero-latest-button {
        width: 280px;
        height: 65px;
        font-size: 21px;
    }
}
