.breadcrum {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #5e5e5e;
  font-weight: 600;
  margin: 60px 170px;
  text-transform: capitalize;
}

@media screen and (max-width: 576px) {
  .breadcrum {
    margin: 20px 10px;
    font-size: 14px;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .breadcrum {
    margin: 40px 20px;
    font-size: 16px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .breadcrum {
    margin: 50px 30px;
    font-size: 18px;
  }
}
