.loginsignup {
  width: 100%;
  height: 100vh;
  background: #fce3fe;
  padding-top: 75px;
}
.loginsignup-container {
  width: 580px;
  height: 500px;
  background: white;
  margin: auto;
  padding: 40px 60px;
}
.loginsignup-container h1 {
  margin: 20px 0px;
}
.loginsignup-fields {
  display: flex;
  flex-direction: column;
  gap: 29px;
  margin-top: 30px;
}
.loginsignup-fields input {
  height: 60px;
  width: 100%;
  padding-left: 20px;
  border: 1px solid #c9c9c9;
  outline: none;
  color: #5c5c5c;
  font-size: 10px;
}
.loginsignup-container button {
  width: 580px;
  height: 72px;
  color: white;
  background-color: #ff4141;
  margin-top: 30px;
  border: none;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
}
.loginsignup-login {
  margin-top: 20px;
  color: #5c5c5c;
  font-size: 18px;
  font-weight: 500;
}
.loginsignup-login span {
  color: #ff4141;
  font-weight: 600;
}
.loginsignup-agree {
  display: flex;
  align-items: center;
  margin-top: 25px;
  gap: 20px;
  color: #5c5c5c;
  font-size: 18px;
  font-weight: 500;
}

@media screen and (max-width: 576px) {
  .loginsignup-container {
    width: 100%;
    height: auto;
    padding: 20px 30px;
  }

  .loginsignup-container h1 {
    font-size: 24px;
  }

  .loginsignup-fields input {
    font-size: 14px;
  }

  .loginsignup-container button {
    width: 100%;
    font-size: 20px;
  }

  .loginsignup-login {
    font-size: 16px;
  }

  .loginsignup-agree {
    font-size: 16px;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .loginsignup-container {
    width: 450px;
    height: auto;
    padding: 30px 45px;
  }

  .loginsignup-container h1 {
    font-size: 30px;
  }

  .loginsignup-fields input {
    font-size: 12px;
  }

  .loginsignup-container button {
    font-size: 22px;
  }

  .loginsignup-login {
    font-size: 17px;
  }

  .loginsignup-agree {
    font-size: 17px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .loginsignup-container {
    width: 600px;
  }

  .loginsignup-container h1 {
    font-size: 35px;
  }

  .loginsignup-fields input {
    font-size: 14px;
  }

  .loginsignup-container button {
    font-size: 22px;
  }

  .loginsignup-login {
    font-size: 18px;
  }

  .loginsignup-agree {
    font-size: 18px;
  }
}
