.item :hover {
  transform: scale(1.05);
  transition: 0.6s;
}

.item {
  font-family: Arial, sans-serif;
  padding: 10px;
  border-radius: 8px;
  text-align: left;
}

.item img {
  height: auto;
  width: 310px;
  flex-wrap: wrap;
  border-radius: 8px;
  margin-bottom: 10px;
  margin: 0px auto;
}

.item p {
  font-size: 14px;
  color: #333;
  margin-bottom: 8px;
}

.item-price {
  display: flex;
  align-items: baseline;
  gap: 8px;
}

.item-price-new {
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

.item-price-old {
  font-size: 16px;
  color: #888;
  text-decoration: line-through;
}

@media screen and (max-width: 576px) {
  .item {
    padding: 8px;
  }
  .item img {
    width: 100%;
  }
  .item-price-new {
    font-size: 18px;
  }
  .item-price-old {
    font-size: 14px;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .item {
    padding: 10px;
  }
  .item img {
    width: 250px;
  }
  .item-price-new {
    font-size: 18px;
  }
  .item-price-old {
    font-size: 15px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .item {
    padding: 12px;
  }
  .item img {
    width: 280px;
  }
  .item-price-new {
    font-size: 19px;
  }
  .item-price-old {
    font-size: 16px;
  }
}
