.navbar {
  display: flex;
  justify-content: space-around;
  padding: 16px;
  box-shadow: 0 1px 3px -2px black;
}

.nav-logo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.nav-logo p {
  color: black;
  font-size: 38px;
  font-weight: 600;
}

.nav-menu {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 50px;
  color: darkolivegreen;
  font-size: 20px;
  font-weight: 500;
}

.nav-menu li {
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.nav-menu hr {
  border: none;
  border-radius: 10px;
  width: 80%;
  height: 3px;
  background: red;
}

.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 45px;
}

.nav-login-cart button {
  width: 157px;
  height: 58px;
  outline: none;
  border-radius: 75px;
  border: 1px solid grey;
  color: brown;
  font-size: 20px;
  font-weight: 500;
  background: beige;
  cursor: pointer;
}

.nav-login-cart button:active {
  background: green;
}

.nav-cart-count {
  position: relative;
  right: 88px;
  bottom: 21px;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 22px;
  width: 22px;
  border-radius: 11px;
  font-size: 14px;
  background: red;
  color: white;
}

@media screen and (max-width: 576px) {
  .navbar {
    flex-direction: column;
    padding: 10px;
  }
  .nav-logo p {
    font-size: 28px;
  }
  .nav-menu {
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
  }
  .nav-login-cart {
    flex-direction: column;
    gap: 20px;
  }
  .nav-login-cart button {
    width: 140px;
    height: 50px;
    font-size: 18px;
  }
  .nav-cart-count {
    right: 65px;
    bottom: 10px;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .navbar {
    padding: 12px;
  }
  .nav-logo p {
    font-size: 32px;
  }
  .nav-menu {
    gap: 30px;
    font-size: 19px;
  }
  .nav-login-cart button {
    width: 150px;
    height: 55px;
    font-size: 19px;
  }
  .nav-cart-count {
    right: 75px;
    bottom: 15px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .navbar {
    padding: 14px;
  }
  .nav-logo p {
    font-size: 34px;
  }
  .nav-menu {
    gap: 40px;
    font-size: 20px;
  }
  .nav-login-cart button {
    width: 155px;
    height: 56px;
    font-size: 19px;
  }
  .nav-cart-count {
    right: 80px;
    bottom: 18px;
  }
}
