.relatedproducts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 90vh;
}

.relatedproducts h1 {
  color: #171717;
  font-size: 50px;
  font-weight: 600;
}

.relatedproducts hr {
  width: 200px;
  height: 6px;
  border-radius: 10px;
  background: #252525;
}

.items {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
}

.item {
  width: 280px;
  height: 400px;
  background-color: #f7f7f7;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.item img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
}

.item h3 {
  font-size: 20px;
  color: #333;
  font-weight: 600;
  margin-bottom: 10px;
}

.item-price {
  font-size: 18px;
  color: #ff4141;
  font-weight: 700;
}

@media screen and (max-width: 576px) {
  .relatedproducts h1 {
    font-size: 30px;
  }

  .items {
    gap: 15px;
  }

  .item {
    width: 150px;
    height: 300px;
  }

  .item h3 {
    font-size: 16px;
  }

  .item-price {
    font-size: 14px;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .relatedproducts h1 {
    font-size: 40px;
  }

  .items {
    gap: 10px;
  }

  .item {
    width: 200px;
    height: 350px;
  }

  .item h3 {
    font-size: 18px;
  }

  .item-price {
    font-size: 16px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .relatedproducts h1 {
    font-size: 45px;
  }

  .items {
    gap: 10px;
  }

  .item {
    width: 250px;
    height: 380px;
  }

  .item h3 {
    font-size: 19px;
  }

  .item-price {
    font-size: 17px;
  }
}
