.popular {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
}

.popular h1 {
  margin-top: 10px;
  color: black;
  font-size: 50px;
  font-weight: 600;
}

.popular hr {
  width: 200px;
  height: 6px;
  border-radius: 10px;
  background: black;
}

.popular-item {
  margin-top: 50px;
  display: flex;
  gap: 20px; /* Added space between the items */
  justify-content: center; /* Centers the items horizontally */
}

.popular-item img {
  height: 350px;
  width: 300px;
  object-fit: cover; /* Ensures images maintain their aspect ratio */
}

@media screen and (max-width: 768px) {
  .popular {
    height: auto;
    padding: 20px;
  }

  .popular h1 {
    font-size: 40px;
  }

  .popular-item {
    flex-direction: column;
    align-items: center;
  }

  .popular-item img {
    width: 250px;
    height: 250px;
  }
}
